$menu-width: 10%; // The Width of the menu items
$menu-height: 30px; // The height of the menu items
$normal-color: #DDD; // The standard color of menu items
$normal-text-color: #000; // The standard color of the text of menu items
$menu-highlight-color: #3A3; // The highlighted color for parent menu items
$menu-highlight-text-color: #FFF; // The color for the text of parent menu items while highlighted
$link-highlight-color: #BBB; // The highlighted color for dropdown sub-items
$link-highlight-text-color: #000; // The color for the text of dropdown sub-items while highlighted
$link-text-color: #292;
